.checkout-mainContent {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

.checkout-leftContent {
  width: 50%;
  margin: 20px;
}

.cart-content {
  padding: 40px;
}

.defaultFlex {
  display: flex;
}

.cart-header,
.end-items {
  display: flex;
  justify-content: space-between;
}

.cart-heading {
  font-weight: 700;
}

.end-items-heading {
  display: flex;
}

.cart-quantity {
  width: 60px;
  text-align: center;
}

.item-total {
  width: 100px;
  text-align: right;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-item-details {
  display: flex;
  align-items: center;
}

.cart-item-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid #ededed;
  border-radius: 2px;
}

.cart-item-image-wrapper img {
  max-width: 100%;
}

.cart-item-name {
  font-weight: 600;
  margin-left: 20px;
}

.cart-item-name span {
  color: grey;
  margin-left: 20px;
}

.checkout-rightContent {
  width: 50%;
  margin: 20px;
}

.item-subtotal {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
}

.checkout-form {
  padding: 10px 40px 40px;
}

.text-field-left {
  display: flex;
  margin-right: 5px;
  flex: 1;
}

.text-field-center {
  display: flex;
  margin: 0 5px;
  flex: 1;
}

.text-field-right {
  display: flex;
  margin-left: 5px;
  flex: 1;
}
