.home-page-wrapper {
  height: 100vh;
  background-color: white;
  display: flex;
  position: relative;
}

.home-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-width: 300px;
  margin-left: 50px;
}

.home-left-content p {
  margin: 0;
  line-height: 45px;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: lighter;
}

.home-heading {
  margin: 0;
  font-family: "Luckiest Guy", cursive;
  font-size: 60px;
  color: rgba(219, 34, 42, 1);
}

.home-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

.home-content > img.home-logo {
  align-self: flex-end;
}

.home-logo {
  width: 530px;
  margin: 40px 20px 30px 0;
}

.home-description {
  width: 30%;
  padding: 20px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-right: 30px;
  background: rgba(0, 0, 0, 0.75);
}

.home-description p {
  margin: 0;
  line-height: 36px;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: lighter;
  color: #fff;
}

.blue-background {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("./assets/blue-svg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100vh;
}

.boys {
  position: absolute;
  bottom: 0;
  left: calc(50% - 110px);
  width: 545px;
  height: auto;
}

@media only screen and (max-width: 1400px) {

  /* Mobilify */
  .blue-background, .boys { display: none; }
  .home-content > img.home-logo { align-self: center; width: 80%; max-width: 530px; }
  .home-left-content {
    align-self: center;
    width: 80%;
    align-items: center;
    margin: 0;
  }
  .home-heading { text-align: center; font-size: 3rem; }
  .home-left-content p { font-size: 2rem; }
  .home-left-content p br { display: none; }
  .home-description { width: 100%; margin-top: 20px; margin-bottom: 0; margin-right: 0; box-sizing: border-box; align-items: center; }
  .home-description p { font-size: 1.5rem; text-align: center; }
}
